body {
	background: #efeee7;
	font-family: georgia, times, sans-serif;
	color: #333333;
	margin: 0;
	padding: 0;
}

header {
	background: #333333;
	
}

h1 {
	color: #eeeeee;
	font-size: 28px;
	text-align: center;
}

h2 {
	font-size: 24px;
	padding-right: 10px;
}

p {
	margin-right: 30px;
}

a {
	color: #d21034;
}

.container {
	width: 1024;
	margin: 0 auto;
}

#main-bio, #contact-info, #bio-image {
	float: left;
}

#main-bio {
	width: 70%;
}

#main-bio h2 {
	font-size: 24px;
	padding-right: 10px;
	padding-left: 96px;
}

#main-bio img {
	width: 200px;
	margin-right: 20px;
	margin-left: 50px;
}

#contact-info {
	width: 30%;
}

